@media screen and (max-width:600px) {
    header nav {
        margin-bottom: 1rem;
    }
    nav .logo {
        width: unset;
    }

    nav .logo .logo-img {
        width: 28px;
        height: 33px;
    }

    nav .logo .logo-title {
        font-size: 1.4rem;
    }

    nav ul {
        width: unset;

    }

    nav ul li a {
        display: none;
    }

    nav ul li .menu-icon {
        width: 16px;
        height: 10px;
        display: contents;
    }

    header .banner{
        padding: 5px 0px;
    }
    .banner .banner-content{
        margin: 32px auto;
    }
    .banner .banner-content .banner-title {
        font-size: 1.4rem;
    }

    .banner .finder {
        flex-direction: column;
        margin: 2rem ;
        padding: 16px;
    }
}