@media screen and (max-width:600px) {

    /* Header section start */
    header nav {
        margin: 19px;
    }

    nav .logo {
        width: unset;
    }

    nav .logo .logo-img {
        width: 28px;
        height: 33px;
    }

    nav .logo .logo-title {
        font-size: 1.4rem;
    }

    nav ul {
        width: unset;

    }

    nav ul li a {
        display: none;
    }

    nav ul li .menu-icon {
        width: 16px;
        height: 10px;
        display: contents;
    }

    header .banner {
        padding: 5px 0px;
    }

    .banner .banner-content {
        margin: 32px auto;
    }

    .banner .banner-content .banner-title {
        font-size: 1.4rem;
    }

    .banner .finder {
        width: 90%;
        flex-direction: column;
        margin: 1rem auto;
        padding: 16px;
    }

    /* Header section end */

    


    /* popular-tours section start */
    #popular-tours {
        margin: 24px 0;
    }

    #popular-tours .tours-content {
        flex-direction: column;
        gap: 24px;
    }

    .tours-content .tours-details,
    .tours-content .tours-img {
        width: unset;
    }

    .destination-info .destination-heading h1 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .destination-info .destination-heading p {
        width: 100%;
        margin-bottom: 16px;
    }

    .destination-info .destination-images {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .destination-info .destination-images img {
        height: 175px;
        object-fit: unset;
    }

    .destination-info .destination-images .country-name {
        font-size: 20px;
    }

    /* popular-tours section end */




    /* hotel-details section start */

    #hotel-details {
        margin: 0px;
    }

    #hotel-details .hotel-info .hotel-services {
        flex-direction: column;
    }

    .hotel-info .hotel-heading h1 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .hotel-info .hotel-heading p {
        width: 100%;
        margin-bottom: 16px;
    }

    .hotel-info .hotel-services .hotel-about,
    .hotel-map,
    .best-price {
        width: unset;
        padding: 26px 0px 25px 25px;
    }

    /* hotel-details section end */



    /* deals section start */

    #deals .deals-content .deals-heading {
        text-align: center;
    }

    .deals-content .deals-heading h1 {
        font-size: 20px;
    }

    .deals-content .deals-heading p {
        width: unset;
    }

    #deals .hotel-info-1 {
        padding: 144px 16px 16px 16px;
    }

    #deals .hotel-info-2 {
        padding: 144px 16px 16px 16px;
    }

    #deals .hotel-info-3 {
        padding: 144px 16px 16px 16px;
    }

    #deals .hotel-content {
        width: unset;
        padding: 25px 0px 25px 25px;
    }

    #deals ul {
        flex-direction: column;
        margin-bottom: 18px;
    }

    #deals ul li {
        justify-content: flex-start;
    }

    #deals .hide {
        display: none;
    }

    .deals-content .hotel-info-1 p,
    .hotel-info-2 p {
        margin-top: 0px;
        margin-bottom: 12px;
    }


    #deals .price {
        font-size: 16px;
        margin-bottom: 16px;
    }

    /* deals section end */


/* sample-place section start */

    #sample-place {
        margin: 24px 0;
    }


    #sample-place .place-info {
        flex-direction: column;
    }

    .place-info .place-details,
    .place-info .place-img {
        width: unset;
    }

    .place-info .place-details h1 {
        font-size: 20px;
    }

    /* sample-place section end */



    /* newsletter  section start */


    #newsletter .newsletter-details {
        flex-direction: column;
    }

    .newsletter-details .newsletter-info,
    .newsletter-details .newsletter-img {
        width: unset;
    }

    .newsletter-details .newsletter-img .discount-card {
        width: 214px;
    }

    .newsletter-details .newsletter-img .discount-card p {
        font-size: 15px;
    }

    .newsletter-details .newsletter-img .discount-card h2 {
        font-size: 21px;
    }

    .newsletter-details .newsletter-img .discount-card {
        bottom: 45px;
    }

    /* newsletter  section end */



    /* footer  section start */

    footer .footer-logo {
        padding-top: 33px;
    }

    footer .footer-description {
        width: unset;
    }

    footer .social-icon {
        padding-bottom: 24px;
    }

    footer .copyright-waring {
        padding-top: 24px;
        padding-bottom: 30px;
    }

    footer {
        margin-top: 24px;
    }

    /* footer  section end */
}