header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3.1rem 0;
}

nav .logo {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav .logo .logo-title {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

nav ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #424247;
    font-size: 1.2rem;
    font-weight: 400;
}

nav ul li .home {
    color: var(--primary-color);
    font-weight: 700;
}

nav ul li .menu-icon {
    display: none;
}

header .banner {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group13.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 74px 160px;
}

.banner .banner-content {
    width: 78%;
    max-width: 800px;
    margin: 48px auto;

}

.banner .banner-content .banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.banner .banner-content .banner-description {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.banner .finder {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    background-size: contain;
    background-position: center;
    padding: 1rem 0rem;
}

.banner .finder .button-1 {
    color: var(--sec-text-color);
    font-size: 1rem;
    font-weight: 400;
    background: #FFF;
    padding: 1rem;
    padding-right: 5.2rem;
    border-radius: 8px;
    border: 0;
}

.banner .finder .button-2,
.button-3 {
    color: var(--sec-text-color);
    font-size: 1rem;
    font-weight: 400;
    background: #FFF;
    border-radius: 8px;
    border: 0;
    padding: 1rem 15px;
}


.banner .finder .button-2 i {
    margin-left: 4.6rem;
}

.banner .finder .button-3 i{
    margin-left: 2rem;
}

.banner .finder .button-4 i{
    margin-right: 8px;
}

#popular-tours{
    margin: 100px 0;
}

#popular-tours .tours-content{
    display: flex;
    justify-content: space-between;
    gap: 53px;
}

.tours-content .tours-details{
    width: 50%;
}

.tours-content .tours-details ul{
    margin: 24px ;
}

.tours-content .tours-details ul *{
    margin-bottom: 12px;
}

.tours-content .tours-details .para{
    margin-bottom: 32px;
}

.tours-content .tours-img {
    width: 50%
}

.tours-content .tours-img img{
    width: 100%;
    height: 100%;
}

